@import "mixins";

.bg-primary {
  &-red2 {
    background-color: #ff5250;
  }
  &-blue4 {
    background-color: #d7f3ff;
  }
  &-blue1 {
    background-color: #276ae3;
  }
}
.primary {
  &-red2 {
    color: #ff5250;
  }
  &-blue4 {
    color: #d7f3ff;
  }
  &-blue1 {
    color: #276ae3;
  }
}
.ss {
  padding: 65px 0;
  color: #18191f;
  .container {
    width: calc(100% - 330px);
    @include respond-tabLand {
      width: calc(100% - 50px);
    }
    @include respond-phone {
      width: calc(100% - 30px);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Inter", sans-serif;
      margin: 0;
      padding: 0;
    }
    h6,
    p,
    a {
      font-size: 18px;
      line-height: 32px;
      font-family: "Inter", sans-serif;
    }
    a,
    .btn__link {
      display: block;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .btn__link {
      font-size: 16px;
      line-height: 24px;
    }
    p,
    h6 {
      margin: 0 !important;
      @include respond-phone {
        font-size: 15px;
        line-height: 26px;
      }
    }
    h2 {
      font-size: 48px;
      line-height: 64px;
      font-weight: 800;
      text-align: center;
      @include respond-tabPort {
        font-size: 38px;
        line-height: 54px;
      }
      @include respond-phone {
        font-size: 28px;
        line-height: 40px;
      }
      @include respond-super-mini-phone {
        font-size: 24px;
        line-height: 38px;
      }
    }
    h3 {
      font-size: 40px;
      line-height: 54px;
      @include respond-tabPort {
        font-size: 30px;
        line-height: 48px;
      }
      @include respond-phone {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
      }
    }
    h5 {
      font-size: 24px;
      line-height: 32px;
      @include respond-phone {
        font-size: 18px;
        line-height: 28px;
      }
    }
    h6 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      @include respond-phone {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .content {
      &__btns {
        width: 100%;
        @include respond-phone {
          .flex {
            justify-content: center;
          }
        }
        .btn {
          min-width: 100px;
          padding: 12px 32px;
          text-align: center;
          border-radius: 6px;
          @include respond-tabPort {
            padding: 10px 15px;
            font-size: 16px;
          }
          @include respond-phone {
            padding: 5px 15px;
            font-size: 14px;
          }
        }
      }
      &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        @include respond-tabLand {
          grid-template-columns: repeat(2, 1fr);
        }
        @include respond-phone {
          grid-template-columns: repeat(1, 1fr);
        }
        .card {
          border-radius: 6px;
          padding: 16px;
          box-shadow: 0 10px 20px rgba(41, 44, 42, 0.07);
          .flex.flex-column {
            height: 100%;
            justify-content: space-between;
          }
          &__icon {
            @include respond-phone {
              height: 62px;
              img {
                height: 100%;
              }
            }
          }
        }
      }
      &__boxs {
        .flex {
          justify-content: center;
        }
      }
    }
  }
}
#home-body {
  margin: 0;
  .ss {
    &__head {
      min-height: 700px;
      background: url("background.png");
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      @include respond-phone {
        min-height: 680px;
        background: url("background-mb.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
      a {
        color: #fff;
      }
      .btn__link {
        &:first-child {
          border: 1px solid #ff5250;
        }
        &:hover {
          background-color: #ff5250;
          transition: 0.3s all ease-out;
          border: 1px solid #ff5250;
          text-decoration: none;
        }
      }
      .content {
        margin-top: 37px;
        @include respond-tabPort {
          margin-top: 0;
        }
        @include respond-phone {
          &__text {
            padding: 0 30px;
            text-align: center;
            p {
              font-size: 16px;
            }
          }
        }
        @include respond-mini-phone {
          &__text {
            padding: 0 5px;
          }
          &__btns {
            .flex {
              flex-direction: column;
              .btn__link {
                margin: 8px 0;
              }
            }
          }
        }
        &__img {
          img {
            width: 100%;
            height: 100%;
          }
          @include respond-tabPort {
            margin-top: 50px;
          }
          @include respond-phone {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 70%;
            }
          }
        }
      }
    }
    &__dich-vu {
      .content {
        &__text {
          padding: 32px 0;
          h5 {
            margin-bottom: 10px !important;
          }
          p {
            font-size: 16px;
            line-height: 28px;
          }
        }
        &__btns {
          a {
            color: #276ae3;
            font-size: 14px;
            line-height: 20px;
            span {
              font-weight: 500;
              margin-right: 10px;
            }
          }
          .flex {
            justify-content: flex-start;
          }
        }
      }
    }
    &__thanh-tuu {
      background: url("bg-resize.png");
      color: #fff;
      text-align: center;
      .content {
        &__boxs {
          @include respond-tabPort {
            .col {
              width: 33.33%;
            }
            .my2 {
              margin: 0 !important;
            }
          }
          @include respond-phone {
            .col {
              width: 50%;
            }
          }
          .col {
            margin-bottom: 64px;
            @include respond-tabPort {
              margin-bottom: 24px;
            }
            @include respond-phone {
              margin-bottom: 24px;
            }
          }
          .box {
            padding: 0 15px;
            position: relative;
            @include respond-tabLand {
              padding: 20px;
            }
            @include respond-tabPort {
              padding: 0 10px;
              &.tablet {
                &::after {
                  content: "";
                  position: absolute;
                  top: 30px;
                  right: 0px;
                  width: 1px;
                  height: 100px;
                  border-right: 1px solid #fff;
                }
              }
            }
            @include respond-phone {
              padding: 0 15px;
              &.tablet {
                &::after {
                  opacity: 0;
                }
              }
            }
            @include respond-mini-phone {
              padding: 0 10px;
            }
            @include respond-super-mini-phone {
              padding: 0 13px;
            }
            &.br-box {
              &::after {
                content: "";
                position: absolute;
                top: 50px;
                right: 0px;
                width: 1px;
                height: 100px;
                border-right: 1px solid #fff;
              }
              @include respond-tabPort {
                &::after {
                  top: 30px;
                }
                &.tablet {
                  &::after {
                    opacity: 0;
                  }
                }
              }
              @include respond-phone {
                &::after {
                  top: 20px;
                }
                &.tablet {
                  &::after {
                    opacity: 1;
                  }
                }
                &.mb {
                  &::after {
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    &__khach-hang {
      background-color: #f4f5f7;
      .container {
        .content {
          &__head {
            p {
              margin: 10px auto !important;
              text-align: center;
            }
          }
          &__customer-logos {
            .item {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 170px;
              height: 96px;
              margin: 12px;
              background: #ffffff;
              box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
              border-radius: 16px;
            }
            .flex {
              align-items: center;
              justify-content: center;
            }
            .mb {
              display: none;
            }
            @include respond-tabPort {
              .flex {
                display: none;
              }
              .grid.mb {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
                .item {
                  width: 100%;
                  margin: 0;
                }
              }
            }
            @include respond-phone {
              .grid.mb {
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
                .item {
                  &:last-child {
                    width: 50%;
                    margin: auto;
                    grid-area: 5 / 1 / 6 / 3;
                  }
                }
              }
            }
          }
          &__btns {
            text-align: center;
            a {
              display: inline-block;
              color: #fff;
            }
          }
        }
      }
    }
    &__kham-pha-them {
      .banner {
        height: 280px;
        border-radius: 16px;
        .col {
          &:first-child {
            margin-top: 70px;
            margin-left: 48px;
            @include respond-tabPort {
              margin: 0;
              padding: 32px 20px;
            }
            @include respond-phone {
              margin: 0;
              padding: 27px 18px;
            }
          }
        }
        .btn__link,
        h6 {
          color: white;
        }
        .content__btns {
          .btn {
            display: inline-block;
            border: 1px solid #fff;
          }
          .btn__link {
            font-weight: 500;
          }
        }
        &__imgs {
          position: relative;
          .mb {
            display: none;
          }
          .img1 {
            position: absolute;
            left: 180px;
            top: 0;
            @include respond-tabLand {
              left: 70px;
            }
            @include respond-tabPort {
              left: -30px;
            }
            @include respond-phone {
              & {
                display: none;
              }
              &.mb {
                left: 0;
                top: 0px;
                display: block;
              }
            }
            @include respond-mini-phone {
              width: 135px;
            }
            @include respond-super-mini-phone {
              width: 40%;
            }
          }
          .img2 {
            position: absolute;
            left: 180px;
            top: 149px;
            @include respond-tabLand {
              left: 70px;
            }
            @include respond-tabPort {
              left: -30px;
            }
            @include respond-phone {
              & {
                display: none;
              }
              &.mb {
                left: 0;
                top: 183px;
                display: block;
                border-radius: 0 0 0 16px;
              }
            }
            @include respond-mini-phone {
              width: 135px;
              &.mb {
                top: 160px;
              }
            }
            @include respond-super-mini-phone {
              width: 40%;
              &.mb {
                top: 137px;
              }
            }
          }
          .img3 {
            position: absolute;
            right: 0;
            border-radius: 0 16px 16px 0;
            @include respond-phone {
              top: 7px;
              width: 70%;
              border-radius: 0 0 16px 0;
            }
            @include respond-mini-phone {
              width: 240px;
            }
            @include respond-super-mini-phone {
              width: 205px;
            }
          }
        }
        @include respond-tabPort {
          .col-6:last-child {
            width: 70%;
          }
        }
        @include respond-phone {
          height: 100%;
          .flex {
            flex-direction: column;
            .col:last-child {
              height: 340px;
            }
          }
        }
        @include respond-mini-phone {
          .flex {
            .col:last-child {
              height: 305px;
            }
          }
        }
        @include respond-super-mini-phone {
          .flex {
            .col:last-child {
              height: 262px;
            }
          }
        }
      }
    }
    &__doi-ngu-gtv {
      background: #f4f5f7;
      .content {
        width: 540px;
        @include respond-tabLand {
          width: 90%;
        }
        &__head {
          h2 {
            text-align: left;
          }
        }
        &__text {
          li {
            font-family: "Encode Sans", sans-serif;
            font-size: 18px;
            line-height: 32px;
          }
        }
        ul {
          margin: 32px 0;
          padding-left: 20px;
          @include respond-super-mini-phone {
            padding-right: 10px;
          }
        }
        @include respond-phone {
          &__head {
            margin-left: 0 !important;
          }
        }
      }
      .form-dang-ky {
        background-color: #fff;
        padding: 20px 24px;
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
        border-radius: 8px;

        // form {
        //   label,
        //   input,
        //   textarea,
        //   button {
        //     font-size: 16px;
        //     font-family: "Encode Sans", sans-serif;
        //   }
        //   .hs-form-e6d70e76-7ce5-4c27-b37c-c8e96b8b5b05_f592da79-3d97-46f1-ab5f-8ac29e17d3d0
        //     .hs-form-field
        //     label
        //     span {
        //     font-family: "Encode Sans", sans-serif !important;
        //   }
        //   label {
        //     padding-left: 16px;
        //     font-weight: 600;
        //     color: #333333;
        //     span {
        //       color: #da1414;
        //     }
        //   }
        //   input,
        //   textarea {
        //     padding: 12px 16px;
        //     margin-top: 6px;
        //     border-radius: 8px;
        //     outline: none;
        //     border: 0.25px solid #bdbdbd;
        //   }
        //   textarea {
        //     resize: none;
        //   }
        // }

        // ::placeholder {
        //   color: #bdbdbd;
        //   opacity: 1;
        // }
        // :-ms-input-placeholder {
        //   color: #bdbdbd;
        // }
        // ::-ms-input-placeholder {
        //   color: #bdbdbd;
        // }
        // button {
        //   color: #fff;
        //   border: none;
        // }
      }
      @include respond-tabPort {
        .flex {
          flex-direction: column;
          .col-6 {
            width: 100%;
            .content {
              width: 100%;
              &__head {
                width: 60%;
              }
            }
          }
        }
      }
      @include respond-phone {
        .content {
          &__head {
            width: 90% !important;
          }
          &__text {
            li {
              font-size: 16px;
            }
          }
        }
        .form-dang-ky {
          label,
          input,
          textarea {
            font-size: 14px;
          }
          button {
            padding: 10px;
          }
        }
      }
      @include respond-super-mini-phone {
        .content {
          &__head {
            width: 100% !important;
          }
        }
      }
    }
    &__bts {
      background: #0b0d17;
      color: #fff;
      .container {
        width: 100%;
      }
      .content {
        &__imgs {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          .item {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(11, 13, 23, 0.6);
            }
            &:hover {
              &::after {
                opacity: 0;
                transition: all 0.3s ease-in-out;
              }
            }
            img {
              width: 100%;
              height: 100%;
            }
          }
          @include respond-phone {
            grid-template-columns: repeat(1, 1fr);
            .slick-arrow {
              display: none !important;
            }
          }
        }
      }
    }
  }
  .modal {
    display: none;
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
    z-index: 1;
    padding-top: 85px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    @include respond-tabLand {
      padding-top: 30%;
    }
    @include respond-tabPort {
      padding-top: 25%;
    }
    @include respond-phone {
      padding-top: 50%;
    }
    &__content {
      margin: auto;
      width: 800px;
      max-height: 700px;
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
      @include respond-phone {
        width: 100%;
        max-width: 400px;
      }
    }
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      &:hover,
      &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .owl {
      &-nav {
        @include respond-phone {
          display: none;
        }
        button {
          position: absolute;
          top: 50%;
          width: 50px;
          height: 50px;
          border-radius: 6px;
          background-color: #0b0d17;

          span {
            color: white;
            font-size: 40px;
          }
        }
      }
      &-prev {
        left: -200px;
        @include respond-tabLand {
          left: -100px;
        }
        @include respond-tabPort {
          left: -35px;
        }
      }
      &-next {
        right: -200px;
        @include respond-tabLand {
          right: -100px;
        }
        @include respond-tabPort {
          right: -35px;
        }
      }
    }
  }
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}
